<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords%>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= render "shared/nav" %>

      <%# Checks to see if user is currently logged in %>
      <% if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Register", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path%>
      <% end %>

    <%= yield %>

    <%# Check to see from what external site our visitors are coming from. I.E. FB, Twitter %>
    <% if session[:source] %>
    <p>Thank you for visiting from: <%= session[:source] %> </p>
    <% end %>
  </body>
</html>
